.End{
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.End p{
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1D1F22;
}

.Total{
    margin-left: 10px;
}

.btn{
    cursor: pointer;
    border: none;
    margin-left: 40px;
    background: #5ECE7B;
    color: white;
    width: 292px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
}