.Creators{
    display: grid;
    grid-template-areas:
    "h3-mostPopular"
    "Creatots"
    "h4-otherCreators"
    "OtherCteators";
}

.Creators h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    grid-area: h3-mostPopular;
    font-family: "Times New Roman";
    font-weight: normal;

}

.OtherCteators{
    grid-area: OtherCteators;
}

.mostPopularCreators{
    grid-area: Creatots;
}

.Creators h4{
    text-align: center;
    grid-area: h4-otherCreators;
    font-weight: normal;
    font-size: 36px;
    font-family: "Times New Roman";
}



