.Creators{
    justify-items: center;
    display: grid;
    grid-template-areas:
    "h4-Creators"
    "CreatorsBlocks"
    "Navigation"
}

.Creators h4{
    text-align: center;
    grid-area: h4-Creators;
    font-weight: normal;
    font-size: 36px;
    font-family: "Times New Roman";
}

.CreatorsContainer{
    grid-area: CreatorsBlocks;
}

.Navigaton{
    grid-area: Navigation;
}

