.ProfileInfo{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
    'img CreatorInfo';
}
.img{
    max-width: 300px;
    grid-area: img;
}
.CreatorInfo{
    margin-left: 40px;
    grid-area: CreatorInfo;
    font-size: 30px;
}

.name{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Times New Roman";
    font-size: 46px;
}

.about{
    font-size: 20px;
}

h5{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Contacts{
    font-size: 26px;
}