.Post{
    padding-top: 10px;
    grid-area: Post;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.Post p{
    font-size: 30px;
}

.Post h2{
    font-size: 50px;
    margin-top: 0px;
}

h3{
    font-size: 70px;
}