.Header {
    grid-area: Header;
    height: 80px;
    max-height: 80px;
}

.Header h1 {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    font-size: 60px;
    font-family: "Times New Roman";
    color: black;
    text-align: center;
}

.Header img {
    border: black solid 1px;
    margin-bottom: 4px;
    height: 30px;
    width: 50px;
    display: inline;
}

.b4b{
    margin-left: 20px;
    margin-right: 20px;
}

.Header a{
    text-decoration: none;
}