.App-wrapper {
    display: grid;
    grid-template-rows: 130px 60px 10fr;
    grid-template-areas:
  " Header"
  'NavTop'
  " Content";
    justify-items: center;

}

.app-wrapper-content{
    grid-area: Content;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
